.contact {
  background-color: $dark-green;
  margin-bottom: 50px;
}

.contact__wrapper {
  display: flex;
}

@media (max-width: $max-tablet-width) {
  .contact {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
}
