.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: $dark-green;
  margin-bottom: 50px;
}

@media (max-width: $max-tablet-width) {
  .contact {
    grid-template-columns: 1fr;
    margin-bottom: 30px;
  }
}
