.experts {
  margin-bottom: 50px;
}

.experts__inner {
  display: flex;
  flex-direction: column;
}

.experts__header {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 48px;
}

.experts__list {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.experts__item {
  position: relative;
  max-width: 210px;
  cursor: pointer;
}

.experts__item::before {
  content: "";
  position: absolute;
  background-image: url("../img/dots-white.png");
  background-repeat: no-repeat;
  width: 130px;
  height: 164px;
  top: -20px;
  right: 3px;
  background-color: transparent;
}

.experts__item--active  .experts__image {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.experts__image {
  position: relative;
  border-radius: 50px;
  max-width: 164px;
  max-height: 158px;
}

.experts__title {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 40px;
}

.experts__text {
  margin-bottom: 0;
  margin-top: 0;
  color: $dark-grey;
}

.experts__text span {
  text-transform: uppercase;
}

@media (max-width: $max-tablet-width) {
  .experts {
    margin-bottom: 30px;
  }

  .experts__header {
    font-size: 32px;
    line-height: 38px;
    text-align: center;
  }

  .experts__list {
    margin-left: 10%;
    margin-right: 10%;
  }

  .experts__item::before {
    top: -21px;
    right: 3px;
  }
}

@media (max-width: $max-mobile-width) {
  .experts__list {
    grid-column-gap: 30px;
    justify-items: center;
  }

  .experts__item {
    position: relative;
    max-width: 140px;
  }

  .experts__item::before {
    top: -23px;
    left: 52px;
    right: 0;
  }

  .experts__title {
    font-size: 22px;
    line-height: 28px;
    margin-top: 25px;
  }

  .experts__text {
    font-size: 12px;
    line-height: 14px;
  }

  .experts__details {
    text-align: center;
  }
}
