.footer {
  align-self: flex-end;
  background-color: $grey;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__links,
.footer__social,
.footer__list,
.social__list {
  display: flex;
}

.footer__list,
.social__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.footer__links {
  align-items: center;
}

.footer__list {
  margin-bottom: 0;
}

.footer__link {
  color: $dark-grey;
}

.footer__item {
  position: relative;
}

.footer__item::before {
  content: "";
  border-left: 1px solid #b7b7b7;
  position: absolute;
  bottom: 5px;
  height: 15px;
  left: -9px;
}

.footer__item:not(:last-child) {
   padding-right: 20px;
}

.footer__link:hover,
.footer__link:focus {
  color: $black;
}

.footer__text {
  margin: 0;
  padding-right: 20px;
  color: $dark-grey;
}

.social__item:not(:last-child) {
  padding-right: 25px;
}

.social__link {
  color: $social;
  width: 30px;
  height: 30px;
}

.social__link:hover,
.social__link:focus {
  opacity: 0.5;
}

@media (max-width: $max-tablet-width) {
  .footer__inner {
    justify-content: center;
  }

  .footer__list {
    flex-direction: column;
  }

  .social__item:not(:last-child) {
    padding-right: 15px;
  }

  .footer__text {
    padding-right: 50px;
  }

  .footer__links {
    padding-right: 50px;;
  }
}

@media (max-width: $max-mobile-width) {
  .footer__inner {
    flex-direction: column;
  }

  .footer__links {
    flex-direction: column;
    padding-right: 0;
    margin-bottom: 10px;
  }

  .footer__text,
  .footer__item:not(:last-child) {
    padding-right: 0;
    margin-bottom: 5px;
  }

  .footer__list {
    align-items: center;
  }

  .footer__social {
    justify-content: center;
  }
}
