.modal-success__inner,
.modal-video__inner {
  display: flex;
  position: fixed;
  top: calc(50% - 295px);
  right: 0;
  left: 0;
  bottom: auto;
  margin: auto;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.modal-success__inner {
  width: 460px;
  min-height: 500px;
  background-color: $form-button-text;
}

.modal-video__inner {
  width: 560px;
  min-height: 315px;
  border-radius: 20px;
}

.modal-success,
.modal-video {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Rajdhani", "Arial", sans-serif;
}

.modal-success__title {
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 380px;
}

.modal-success__text {
  color: $white;
  font-size: 24px;
  line-height: 31px;
}

.modal-success__close,
.modal-video__close {
  position: absolute;
  width: 26px;
  height: 28px;
  border: none;
  cursor: pointer;
  color: $white;
}

.modal-success__close {
  top: 20px;
  right: 20px;
  background-color: inherit;
}

.modal-success__close:hover,
.modal-video__close:hover,
.modal-success__close:focus,
.modal-video__close:focus {
  color: $black;
}

.modal-video__close {
  top: -20px;
  right: -25px;
  background-color: transparent;
}

.modal-video__body {
  border-radius: 20px;
  width: 560px;
  height: 315px;
  cursor: pointer;
}

.modal-video__body iframe {
  border: 0;
}

.modal-video__text {
  margin-bottom: 0;
  margin-top: 10px;
  color: $dark-grey;
  font-weight: 700;
}

.hidden {
  display: none;
}

@media (max-width: $max-tablet-width) {
  .modal-video__close {
    top: -25px;
    right: -20px;
    background-color: transparent;
  }
}

@media (max-width: $max-mobile-width) {
  .modal-video__inner,
  .modal-video__body {
    width: 99%;
    margin: 0 auto;
  }

  .modal-video__body {
    height: 99%;
  }

  .modal-video__inner {
    min-height: unset;
  }

  .modal-video__close {
    top: -25px;
    right: 0;
  }

  .modal-success__inner {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.fade {
	animation-name: fade;
	animation-duration: .5s;
	animation-timing-function: ease-in-out;
}

.bounce {
	animation-name: bounce;
	animation-duration: .5s;
}

@keyframes fade {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes bounce {
  0% {
      transform: translateY(-2000px);
  }

  70% {
      transform: translateY(30px);
  }

  90% {
      transform: translateY(-10px);
  }

  100% {
      transform: translateY(0);
  }
}
