.partnership {
  margin-bottom: 50px;
}

.partnership__inner {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.partnership__inner::after {
  content: "";
  border-bottom: 2px solid $grey;
  position: absolute;
  bottom: -20px;
  width: 98%;
}

.partnership__header {
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}

.partnership__programm {
  display: flex;
  justify-content: space-between;
}

.partnership__information {
  padding-left: 10px;
  max-width: 660px;
}

.video__body {
  border-radius: 20px;
  width: 365px;
  height: 209px;
  cursor: pointer;
}

.video__text {
  margin-bottom: 0;
  margin-top: 10px;
  color: $dark-grey;
  font-weight: 700;
}

.partnership__text,
.partnership__benefit,
.partnership__list {
  margin-top: 0;
}

.partnership__text {
  margin-bottom: 20px;
}

.partnership__benefit {
  margin-bottom: 0;
}

.partnership__list {
  margin-bottom: 25px;
  padding-left: 17px;
}

.partnership__item {
  margin-bottom: 10px;
}

.partnership__details {
  margin-bottom: 15px;
}


.partnership__access {
  display: flex;
  justify-content: space-between;
}

.access__header {
  margin: 0;
  max-width: 270px;
}

.access__button {
  padding: 5px 20px;
  color: $white;
  text-transform: uppercase;
  background-color: $button;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.access__button:hover,
.access__button:focus {
  background-color: $white;
  border: 1px solid $dark-green;
  color: $black;
}

@media (max-width: $max-tablet-width) {
  .partnership__header {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 38px;
  }

  .partnership__programm {
    flex-direction: column;
  }

  .partnership__video {
    margin-bottom: 20px;
  }

  .video__body {
    width: 100%;
    height: 100%;
  }

  .partnership__information {
    max-width: 100%;
    padding-left: 0;
  }

  .access__header {
    max-width: 100%;
  }
}

@media (max-width: $max-mobile-width) {
  .partnership__access {
    flex-direction: column;
  }

  .partnership__inner::after {
    width: 95%;
  }

  .access__header {
    margin-bottom: 10px;
    text-align: center;
  }

  .access__button {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
