$white: #ffffff;
$black: #000000;
$medium-green: #014550;
$dark-green: #013741;
$grey: #f1f1f1;
$dark-grey: #b7b7b7;
$button: #00b236;
$social: #999999;
$flag: #83d825;
$form-link: #76c626;
$form-button: #93ea21;
$form-button-text: #127046;




$vio: #192b3f;
$dark-blue: #3d5876;
$disabled: #e1e6ed;
$bronze: #c9b8a8;
$medium-blue: #2e4055;
$light-blue: #3b536d;
$input-color: #e1e6ed;

